<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>TeamCreation</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sport Events</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/TeamsAndEventsAdmin">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/teamsAdmin">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/EventArchiveAdmin">Archive</a>
            </li>

        </ul>
    </div>
</nav>
<h1>Team Creation</h1>
<h3>Now you are going to update info about selected team. Please be patient with the data you are going to provide!</h3>
<form class="row g-3" action="#" th:action="@{/updateteam}" method="POST" th:object="${team}">
    <!--form class="row g-3" -->
    <div class="col-md-6">

        <label class="form-label">Name</label>
        <input type="text" th:name="newName" th:value="${team.getName()}" class="form-control" id="inputTeamName" />
        <input type="hidden" th:name="teamId" th:value="${team.getId()}">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" value="Update Team">Update Team</button>
    </div>
</form>
</body>
</html>